mixin places(props)
	//- подключение проверки пропросов
	include ../shared/shortcut-check-store

	mj-text(line-height='0.5')
		div(style='display: inline-block;' class='column-per-49 mj-outlook-group-fix')
			span(style='vertical-align: middle; font-size: 36px; font-weight: 600; color: #EA5658') !{DATA('textLeft')}
			span(style='color: #d4d4d4; font-size: 28px; padding-left: 15px;') !{'________'}
			p(style='font-size: 12px; font-weight: 600; color: #0D0D0D; line-height: 16px;') !{DATA('textInfoLeft')}
		div(style='display: inline-block;' class='column-per-49 mj-outlook-group-fix')
			span(style='vertical-align: middle; font-size: 36px; font-weight: 600; color: #EA5658') !{DATA('textRight')}
			span(style='color: #d4d4d4; font-size: 28px; padding-left: 15px;') !{'________'}
			div(style='font-size: 12px; font-weight: 600; color: #0D0D0D; line-height: 16px;') !{DATA('textInfoRight')}