mj-title Письма направляемые с сайта посетителям
mj-font(name='Montserrat' href='https://fonts.googleapis.com/css2?family=Montserrat')/
mj-attributes
	mj-text(
		padding='0'
		font-family='Montserrat'
		font-size='14px'
		line-height='21px'
		color='#1F2427'
		font-weight='500'
	)/
	mj-section(padding='0')/
	mj-divider(padding='0')/
	mj-image(padding='0')/
	mj-class(name='footer-bg' background-color='#77787B')/
	mj-class(name='footer-text' font-size='14px' line-height='20px' align='center')/
mj-style(inline='inline').
	.column-per-49 {
		width: 49% !important;
	}
	.welcome-height {
			height: 140px;
	}
	.header-top {
		padding: 30px 30px 0 30px;
		height: 180px;
		box-sizing: border-box;
	}
	.header-bottom {
		padding: 0 30px 30px 30px;
		box-sizing: border-box;
	}
mj-style.
	.column-per-49 {
		width: 49% !important;
	}
	.welcome-height {
		height: 140px;
	}